:root {
  --backColor: #240a34;
  --outline: #891652;
  --highlight: #eabe6c;
  --white: #ffedd8;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 9fr;
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
  display: flex;
  justify-content: center;
}
ol {
  list-style: none;
  display: grid;
  padding: 0px;
}
li {
  margin: 10px;
}
li input {
  width: 150px;
  margin: 5px;
}
input[type="radio"] {
  width: 20px;
}
fieldset {
  border: 0;
}
section {
  margin: 50px;
  border: 5px solid var(--highlight);
  padding: 40px;
}

#closePopup {
  position: relative;
  top: -30px;
  left: -30px;
}
#addTask {
  position: relative;
  position: relative;
  bottom: 0px;
  right: -100px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  grid-area: 1/ 2/ 2/ 3;
  background-color: var(--backColor);
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border: 10px solid var(--outline);
  border-left: 0px;
  border-bottom-right-radius: 30px;
}

header h1 {
  color: var(--white);
  text-align: center;
  margin-right: 50px;
}
header button {
  margin: 15px;
}

.sideBar {
  grid-area: 1/1/3/2;
  background-color: var(--backColor);
  border: 10px solid var(--outline);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-bottom-right-radius: 30px;
}
.todoTopRight {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.todoTopRight img {
    width: 20px;
}
.projNameContainer {
    grid-area: 1/1/2/2;
}
.viewText {
  grid-area: 1/1/2/4;
}
.sortButtons {
    grid-area: 1/2/2/4;
    display: grid;
    font-size: 24px;
    color: #240a34;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-items: end;
    align-items:center;
    gap:5px
}
.sortButtons button {
width:130px;
text-align: center;
height: 40px;
}
.projNameContainer img {
    filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(13deg) brightness(98%) contrast(105%);
    position: relative;
    top:-20px;
    right: -5px;
    width: 20px;
}
.projList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBar button {
  margin: 10px;
}

img {
  width: 30px;
  height: auto;
  filter: invert(99%) sepia(8%) saturate(97%) hue-rotate(195deg)
    brightness(116%) contrast(98%);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6em;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

button {
  background-color: var(--backColor);
  color: var(--white);
  outline: var(--outline) solid 0px;
  border: 5px solid var(--outline);
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}


.todo, .projView {
    min-width: 150px;
    max-height: 300px;
    position: relative;
  background-color: var(--backColor);
  border: 5px solid var(--outline);
  font-size: 16px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  text-wrap:wrap;
  word-wrap: break-word;
  overflow: auto;
  
}

h1 {
  font-size: 30px;
  font-weight: 900;
  color: var(--backColor);
  margin-left: 40px;
}

.todo h3 {
  font-size: 20px;
  font-weight: 900;
  text-wrap:wrap;
  max-width: 80%;
  position: relative;
  top: -20px;
  left: -5px;
}
.todo p{
    font-size: 16px;
    text-wrap: wrap;
    max-width: 80%;
}

#popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;

}

.projectPopup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.headerButtons {
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.SortButtons {
  grid-area: 2/2/3/3;
}